<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meituan.crawler.mapper.ColumnPiece">
    <insert id="insert" parameterType="ColumnPiece">
        INSERT INTO column_piece (title, voice, img) VALUES (#{title}, #{voice},#{img});

    </insert>
    <select id="select" resultType="ColumnPiece">
        SELECT * from article;
    </select>
</mapper>